.footer{
    background-color:#b7f8ff;
    color:white;
    padding:30px 0;
    width: 100%;
    /* background: linear-gradient(to right,#1f1f1f,#2c2c2c); */
}

.footer-container{
    background-color: #b7f8ff;
    width:100%;
    margin:auto;
    display:flex;
    justify-content:space-between;
    /* gap:40px; */
    flex-wrap:wrap;    /*tự động xuống dòng trên đt*/
}

.footer-container > div{
    flex:1;
    min-width: 250px;
}

.footer-container h3{
    margin-bottom:10px;
}

.footer-chinh {
    font-weight: 300;
    font-size: large;
    line-height: 30px;
}

.footer-info img{
    width:24px;
    vertical-align:middle;
    margin-right:8px;
}
.footer-info p {
    display:flex;
    align-items:center;
    gap:8px;
    margin-bottom:12px;
}
@media (max-width:768px){

.footer-container{
flex-direction:column;
width:90%;
gap:25px;
text-align:center;
}

}
.footer-info a{
      display:flex;
    color:rgb(0, 0, 0);              
    text-decoration:none;     /* bỏ gạch chân */
    align-items:center;
    gap:8px;
    justify-content: center;
}

.footer-info a:hover{
    text-decoration:underline; /* hiện gạch chân khi hover */
    opacity:0.8;               /* hover nhẹ */
}

.footer-map .footer-info{
    flex:1;
    min-width:300px;
    margin: 10px;

}

.footer-map iframe{
    width: 100%;
    border-radius: 8px;
}
